@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('http://www.nvtpower.com/upload/admin/20180413/c21bc51351e5255018da22cab78fe5df.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
[data-anima="Tlogin"]{
    color: white;
    font-size: 40pt;
    margin: 20px 0px;
    transform: translate3d(0, -50px, 0);
    opacity: 0;
    transition: 1s;
}
.login_main{
    padding: 50px 0px;
}
.btn{
    border-radius: 50px;
}
.form-floating{
    width: 100%;
    margin: 20px 0px;
}
[data-anima="Iplogin"]{
    width: 40%;
    border-radius: 25px;
    transition: 1.5s;
}
[data-anima="Iplogin"]:focus{
    outline: none;
    box-shadow: 1px 1px 10px #0d6efd;
}
[data-anima="Ipcadastro"]{
    width: 100%;
    border-radius: 25px;
}
[data-anima="Ipcadastro"]:focus{
    outline: none;
    box-shadow: 1px 1px 10px #0d6efd;
}
.log{
    width: 150px;
}
.branco{
    color: white;
}
.login{
    border-radius: 50px;
    padding: 15px;
    transition: 1s;
}
.cadastre-se{
    transform: translate3d(0, 250px, 0);
    display: none;
    opacity: 0;
    transition: 1s;
}